/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif; /* Preferred font */
  line-height: 1.6;
  color: #333; /* Primary text color */
  background-color: #f4f4f4; /* Background color */
}

/* Container for the entire app */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}

/* Utility Classes */
.container {
  width: 90%;
  max-width: 1200px; /* Max width of the content */
  margin: auto;
  overflow: hidden; /* In case of horizontal scrolling elements */
}

.text-center {
  text-align: center;
}

/* Accessibility Improvements */
a {
  color: #007bff; /* Primary link color */
  text-decoration: none; /* Removes underline from links */
}

a:hover {
  text-decoration: underline; /* Underline on hover for better indication */
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

/* Basic button styling */
button {
  display: inline-block;
  border: none;
  background-color: #007bff; /* Primary button color */
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3; /* Darker shade for hover state */
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  color: #333; /* Primary header color */
}

/* Forms */
input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.logo-container {
  text-align: left; /* Center the logo */
  padding: 20px; /* Add some padding around the logo */
}

.logo {
  width: 150px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}